body {
    background-color: rgb(108, 174, 193);
}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px 0;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie {
    width: 200px;
    text-align: center;
    background-color: rgb(35, 76, 90);
    border-radius: 10px;
    box-shadow: 5px 7px 16px 4px rgba(0, 0, 0, 0.5);
}

.movie img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
    margin-top: 10px;
}

.movie_title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.category {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 0, 0, 0.547);
    border-radius: 5px;
    padding: 2px 2px;
    margin: 0 5px;
}